$textColor: black;

body {
    color: $textColor;
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4 {
    margin: 0;
}
p {
    margin: 0;
}

header {
    .headerCon {
        max-width: 970px;
        padding: 0 15px;
        margin: 0 auto;
        margin-top: 30px;
    }
    .register {
        .button {
            border: 2px solid #dddddd;
            border-radius: 5px;
            background-color: blue;
            color: white;
            &:hover {
                cursor: pointer;
            }
        }
    }
}

